body {
    font-family: 'Poppins', sans-serif;
    background-color: #DBDFEA;
    color: #1C3A85;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

#root {
    width: 80%;
    max-width: 700px;
}

.note-create {
    background-color: #EFDDD1;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.note-show {
    background-color: #EFDDD1;
    margin-block: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
}

.note-list {
    border: 1px solid #1C3A85;
    padding: 1rem;
    border-radius: 1rem;
}

button {
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #1C3A85;
}

button:hover {
    background-color: #1C3A85;
    color: #EFDDD1;
}

textarea {
    width: 80%;
    margin-right: 1rem;
    height: 3em;
    padding: 0.3rem;
    border: 1px solid #1C3A85;
    resize: none;
}

.date {
    font-size: 0.7rem;
}
